*.avif binary
*.bmp binary
*.dds binary
*.gd2 binary
*.gif binary
*.hdp binary
*.hdr binary
*.heic binary
*.heif binary
*.ico binary
*.jpg binary
*.jxl binary
*.pbm binary
*.pdf binary
*.pgm binary
*.pic binary
*.png binary
*.pnm binary
*.ppm binary
*.psd binary
*.six binary
*.tga binary
*.tiff binary
*.wbmp binary
*.webp binary
